[2015-11-27 04:50] rockvider opened #1 "Re-inject a packet from forward layer to local machine"
First I would like to thank you for this awesome .Net binding.

I would like to capture a tcp packet at the forwarding layer and then re-inject it with the local machine as the destination while changing also the destination port, So I've opened two windivert handles one for the network layer and one for the forwarding layer, the packets are captured on the forwarding layer but it seems they are n

[2015-11-27 08:59] TechnikEmpire commented on #1
Hey @rockvider , so where you're putting `IPAddress.Parse("192.168.1.5")` and saying `local machine` I'm assuming you're just trying to divert the packets on your own machine back to your own machine yes? For something like an intercepting proxy?

Also, thanks for the bug report! Let me know when you find something else because there probably will be, I brought this code together really fast.

[2015-11-27 10:51] rockvider commented on #1
So my setup involves 2 machines:
192.168.1.100: Which is doing a request to 7.7.7.7:80 (for example)
192.168.1.5: the machine which has my application running with Divert.net

On 192.168.1.5 I receive a packet on the forwarding layer going from 192.168.1.100:5000 --> 7.7.7.7:80

I want to drop this packet, modify then inject it to the local machine tcp stack using a network layer Diversion to be 1

[2015-11-27 11:22] TechnikEmpire commented on #1
@rockvider So the machine `192.168.1.5` wants to intercept, direct the packet inbound on to itself, where I assume you have a socket or something listening on 87 that will read the incoming request, then write a response back out? Sorry I just want to make sure I fully grasp the issue before I start throwing suggestions around.

I'm still having my morning coffee, I'll get back to you in a few.

[2015-11-27 11:36] rockvider commented on #1
Exactly

[2015-11-27 11:36] TechnikEmpire commented on #1
It'd be helpful if I could see the full source code, I can only guess really. I'm leaning towards it being that your own Diversion filters are catching the packets after you send them to your local machine, port 87. Notice how your network layer filter is simply "tcp".

This is going to eat up both inbound and outbound TCP connections of any kind on your local machine. You need to heavily use the

[2015-11-27 11:42] TechnikEmpire commented on #1
Ugh, disregard the last bit about process ID. My brain is stuck thinking that client and proxy are the same machine. See, coffee isn't kicking in yet. ;)

[2015-11-27 16:30] rockvider commented on #1
This is the netdump sample modified quickly with everything hardcoded, also I've a socket listenting on 87 and I never get any tcp connections, though I get packets coming from local machine (192.168.1.5:87) going to 192.168.1.100 where I've this comment: " //I DO GET PACKETS HERE??":

[code]

[2015-11-30 04:42] TechnikEmpire commented on #1
There's a few things but honestly I'd have to rewrite a lot of your code to fix it all. You can solve the issue by drawing out the network flow. In your loop for capturing the local network traffic and diverting it to your socket, you don't change the direction of the packet to Inbound. The direction is most likely outbound, but for it to go to your socket instead, it needs to be injected as an in

[2016-01-26 06:42] TechnikEmpire opened #2 "GetPacketProcess needs to check the address, not just the port."
The methods for getting the process attached to a packet or packet flow needs to do more than simply check for a matching port number. Since the TCP/UDP tables could be populated with records like `127.0.0.1:80`, and also `192.168.0.254:80`, we need more than a simple port check. We'll definitely get incorrect results checking only the port. We therefore require an additional parameter taking an I

[2016-01-26 11:43] TechnikEmpire opened #3 "For GetPacketProcess, change PMIB pointer params to pointer-to-pointer."
Since we free the PMIB pointers in associated methods, need to change those params to pointer-to-pointer and have the methods set the pPMIB to nullptr after freeing, to avoid potential double frees.

[2016-05-24 18:53] agklaver opened #4 "package.nuspec does not include assemblies."
`nuget pack` is not including any of the project assemblies.

@TechnikEmpire P.S. Hoping to see this make it's way to nuget.org

[2016-05-24 19:16] TechnikEmpire commented on #4
@agklaver Yeah I never got around to this. I was hasty with comitting the nuget project here, as I basically just created it and then stopped. I would like to bring it to nuget, but I'm swamped with work and I've got a bunch of outstanding issues on other projects I have to deal with first. :worried:

[2016-06-08 21:51] xBioDreadx opened #5 "THATS WHAT I LOOKING FOR !!!!! TY MAN!"
There are no any other .net wrappers for WFP. And this project was hard to find. TY MAN!

[2016-06-09 00:32] TechnikEmpire commented on #5
@xBioDreadx No problem. Thank basil from WinDivert, he did all the hard work. :)

[2016-06-09 00:32] #5 closed, assigned to nobody

[2016-06-10 20:11] oasrog opened #6 "Adding data to payload"
Hi,

Thank you very much for this great binding!

I succeeded in modifying the payload content without touching the length of the incoming buffer, but cannot "add" extra content to it.

Is it possible to do this? This is my actual code based on netdump example

[code]

I would very much appreciate if you can point me in the right direction regarding this issue.

[2016-06-11 18:30] TechnikEmpire commented on #6
@oasrog Are you getting a particular error or something?

[2016-06-11 18:40] oasrog commented on #6
Hi,

Thank you for your answer.

I only get a false when calling sendasync method and the packet never
reaches the application

By the way, both client.exe and the divert.net application are running on
the same computer.

I'm trying to intercept and modify the incoming payload for that specific
app adding a few characters.

Thanks for your help
El jun 11, 2016 3:30 PM, "Jesse Nicholson" notificati

[2016-06-11 18:43] TechnikEmpire commented on #6
@oasrog Try using just the regular send function and if you get a failure, call `Marshal.GetLastWin32Error()` and provide the returned error code here please.

[2016-06-12 19:54] oasrog commented on #6
Hi,

I've added the code suggested and got back 87 as GetLastWin32Error()

if (!diversion.Send(newbuffer, Convert.ToUInt32(newbuffer.Length), address,
ref sendLength))
                        Console.WriteLine(Marshal.GetLastWin32Error());

Sergio

On Sat, Jun 11, 2016 at 3:43 PM, Jesse Nicholson notifications@github.com
wrote:

[2016-06-12 20:01] oasrog commented on #6
As stated in MSFT web, this is the meaning of this error

ERROR_INVALID_PARAMETER
87 (0x57)
The parameter is incorrect.

I guess the byte[] payload I'm passing as parameter is wrong

Sergio

On Sun, Jun 12, 2016 at 4:54 PM, Sergio Fernandez <fernandezsergio@gmail.com

[2016-06-13 12:51] TechnikEmpire commented on #6
@oasrog Very interesting, perhaps you've found a legit bug! (as if that's a shock, haha). Let me look at this a little closer.

[2016-06-13 13:00] oasrog commented on #6
haha, well, let me know if I can help you!

Sergio

On Mon, Jun 13, 2016 at 9:51 AM, Jesse Nicholson notifications@github.com
wrote:

[2016-06-14 16:11] PhyxionNL commented on #6
Code looks fine at least.

[2016-06-14 16:48] TechnikEmpire commented on #6
I've never actually modified the packets, just re-routed them. However, I think that part of the issue might be that you need to get a copy of the actual packet payload, and then re-construct the packet after modifying the payload. One of the overloads provides this functionality in WinDivert and IIRC, that overload should be here as well. The reason for this is that the packet layout cannot be gu

[2016-06-26 20:52] OSSIndex-Admin opened #7 "Sequence numbers and ip header lengths incorrect"
Hi.

First off, thanks for the library!

It is quite possible that I have done something incorrect in my code, but I am not being returned correct sequence numbers or packet lengths. I have not fully verified other values at this point.

My program is a simple modification of the example program, which writes sequence numbers and lengths for packets arriving from a target host:port. While running

[2016-06-26 21:26] TechnikEmpire commented on #7
@OSSIndex Right off the bat, the length could possibly be explained this way. The length parameter in WinDivert is meant to represent the entire length of the whole packet raw data. In Wireshark, this is not the case. Searches tell me that the length/data omits certain portions of the packet. I'll look into the other and get back to you.

[2016-06-26 21:59] TechnikEmpire commented on #7
@OSSIndex For the "no", this can be explained away by simple differences between how your app and wireshark are choosing to increment counts. Last, the seq/ack I'll look into, this I think is the only thing that needs to be investigated here. Thanks for the report.

[2016-06-26 22:12] OSSIndex-Admin commented on #7
Thanks. I wasn't worried about the "no" value, I just highlighted its use to show that it appears WireShark and Divert.Net were seeing the same packets in what would appear to be the same order (since the gaps between numbers are pretty darn uniform.)

I am uncertain about the length issue still. In my actual application I know the size of my data ranges between 1000-3000 bytes, but Divert appears

[2016-06-26 22:15] TechnikEmpire commented on #7
@OSSIndex It's very possible that I screwed up my unmanaged->managed conversions. I'm going to review them. You can try suppying the payload array out parameter and checking its length in the right receive overload. That will copy the actual payload to a new byte array, instead of the entire raw packet structure that WinDivert is giving you. Note that this project was thrown together I think over

[2016-06-26 22:23] OSSIndex-Admin commented on #7
Ah, I think I might have found it. The sequence and length (and probably other int values of various sorts) are stored in the packets in BigEndian, and it looks like WinDivert does not convert into LittleEndian.

I added some small conversion routines and updated the sample program like this:

[code]

Which gives the following output (the second line in each cluster is the new "LittleEndian" versi

[2016-06-26 22:26] TechnikEmpire commented on #7
@OSSIndex lol geeze, I only implemented conversion for port numbers and IP bytes. My bad. Good find! :+1:

[2016-06-26 22:29] OSSIndex-Admin commented on #7
Heh. No problem.

Thanks again for the library and your fast response. It is enormously useful. I'm very glad we found it (it being Divert.Net).

[2016-06-26 23:01] TechnikEmpire opened #8 "Improper conversion of IPV6 Addresses?"
Possible improper conversion of IPV6 addresses in `IPv6Header::DestinationAddress::get/set`.

[2016-06-26 23:58] TechnikEmpire commented on #7
@OSSIndex See if that commit fixes your problems. All header fields are automatically converted to and from the proper ordering correctly. So, read and write fields expecting them to be in host order, the library will automatically handle the conversion. Feel free to re-open if I goofed up somewhere.

[2016-06-27 00:01] TechnikEmpire commented on #6
@oasrog any update on this after my comments? It's impossible for me to accurately test because I don't have your entire test data. Let me know if my last comment and debugging nfo I suggested sheds any light. Thanks.

[2016-06-27 01:44] OSSIndex-Admin commented on #7
I won't reopen yet, but I am not getting sequence numbers, lengths, or port numbers now :)

I am rather new to C# and Visual studio, so it is possible I am doing something wrong. I will do some extra debugging and reopen things once I have figured out what is going on.

Current output:

[code]

[2016-06-27 01:47] TechnikEmpire commented on #7
@OSSIndex Nah it's possible that I just screwed it up. That's what I get for haphazardly committing stuff. I'll create an actual test program based on yours, review and fix it.

[2016-06-27 04:57] TechnikEmpire opened #9 "DivertIpv6Header missing `Length` property"
Title says it all.

[2016-06-27 05:06] #9 closed, assigned to nobody

[2016-06-27 05:07] TechnikEmpire commented on #7
@OSSIndex Yeah, I messed up a lot of stuff and there were some other things not being converted correctly either. You can test with latest commit. Basically my "fix" screwed things because I was trying to use CLR provided utilities to do to host-to-network and network-to-host. The available overloads rejected the data types in use in WinDivert (such as uint16/32/etc). This led to me thoughtlessly

[2016-06-27 05:18] TechnikEmpire commented on #1
Discovered lots of issues with value conversion. Hard to diagnose this issue due to not having everything needed to replicate. Suggest re-trying from latest version and if the question isn't a bug, but rather a question of "how to", to post one StackOverflow. If there is a bug, please open a new issue with specifics. Thanks!

[2016-06-27 05:18] #1 closed, assigned to nobody

[2016-06-27 07:05] OSSIndex-Admin commented on #7
Beauty. Runs nicely with my test program. I will to build and test it with my main project later on Monday (all going well) and let you know if I see anything else, but everything else I was using was looking good.

First I need to figure out why my builds of Divert.Net don't work with my project -- but that is a problem with my inexperience with Visual Studio and nothing to do with you :)

[2016-06-27 07:05] #7 closed, assigned to nobody

[2016-06-27 08:02] TechnikEmpire commented on #7
@OSSIndex Thanks for the feedback. Divert.NET is a mixed library of managed/unmanaged code that is compiled to specific platform targets (like x86, x64 etc). So when you go to include Divert.NET in, let's say, a C# WPF application, you need to change **that** project to be either x86, x64 etc. The default for such projects is "AnyCPU", which means the resulting binary is JIT'ed according to the ho

[2016-06-27 12:37] oasrog commented on #6
Jesse,

I haven´t been able to do further testing, but I will get back to you as
soon as I can.

Thank you for your help!

Sergio

On Sun, Jun 26, 2016 at 9:01 PM, Jesse Nicholson notifications@github.com
wrote:

[2016-06-27 15:10] OSSIndex-Admin commented on #7
Ya, it appears the platform target was the issue. I must have somehow switched back to "AnyCPU" when installing the new version. Whoops. Meanwhile, everything is running nicely now.

I certainly won't be losing any sleep by having to specify the CPU :)

Thanks for the suggestion, BTW.

[2016-09-12 09:23] ghost opened #10 "DivertAsyncResult with send (and receive)"
In the DivertTests the DivertAsyncResult is used, which works.
However, I cannot get DivertAsyncResult to work in the NetDump example, it keeps failing with error code 87 (invalid parameter).

I modified the Send with:

[code]

This is identical to the code from DivertTests but that's using a combination of different filters and divert handles. Am I doing something wrong or how can I adapt this?

[2016-09-12 12:21] ghost commented on #10
Found the reason, it's a bug in SendAsync. There are some more bugs and problems with the code, I'll see if I can create a PR soon.

[2016-09-12 16:48] TechnikEmpire commented on #10
@Areithus It's a bug in my version of SendAsync? Or in WinDivert? If it's a bug in my code I'll re-open.

[2016-09-12 16:49] TechnikEmpire commented on #10
I have to admit the async part posed a problem because they're static helpers. Actually everything is, so I had to do a lot of trickery to make the appearance of a class based system. Curious what other bugs you found, please let me know and thank you for the report.

[2016-09-12 16:53] TechnikEmpire commented on #10
@Areithus

Also did you try this?
[code]

The initial failure on Send/RecvAsync functions may just mean that the packet did not send/recv immediately. You're then given the `Get(TIMEOUT)` method on the returned async object to wait for the overlapped event for the given timeout. If this fails, you can then call it a failure for sure. However note a failure may still mean simply a timeout.

It's a

[2016-09-12 16:54] TechnikEmpire commented on #10
Arg, disregard last message. Deleted it because I was too hasty to read that you are indeed calling `Get(TIMEOUT)`.

[2016-09-12 17:58] ghost commented on #10
Yes, it's a bug in SendAsync, It's providing `packetBuffer->Length` as the parameter but it should be  `packetLength`. I don't remember all bugs but:
- Ipv6 has its destination address check wrong (it checks the source instead).
- `GetPacketProcess` does not account for the ip address.
- The `GCHandle.Alloc/pin_ptr` does not work as-is. If you parse the packet the pointers won't remain valid after

[2016-09-12 18:53] TechnikEmpire commented on #10
@Areithus Alright thanks, will check into this when I have time ( busy with work right now ) and get back to you. Thanks again.

[2016-09-14 13:32] ghost commented on #10
BTW, did you ever find a reliable way to cache the results from GetTcpTable2? Ideally the caching should be done by Divert.Net. What I thought of was to introduce a global variable to store the result in. If a match in that table exists with the address and port of the current packet -> return the process from that table. If not, do a new lookup of GetTcpTable2. However, I'm not sure how reliable

[2016-09-14 17:34] TechnikEmpire commented on #10
I cache by holding results for 2 seconds. You're right, this definitely will have a degree of inaccuracy but so far this has been a good trade off for me, especially when diverting HTTP.

I was doing some research yesterday that had led me to believe that the binary behind a stream is actually available in the Windows Filtering Platform. It's actually possible to write a filter that matches agains

[2016-09-14 17:43] TechnikEmpire commented on #10
In order to 100℅ accurately map this you'd have to track all captured flows 100℅. That's a lot of work and I found for my purposes that a very short cache period, using thread local caches, was accurate enough and cuts CPU to nil, but I didn't want to impose this on users.

[2016-09-15 12:00] ghost commented on #10
It indeed seems like that information is available (https://msdn.microsoft.com/en-us/library/windows/hardware/ff552397(v=vs.85).aspx). Would be nice if basil00 could somehow add that information. I did some testing with caching like this:
`introduce a global variable to store the result in. If a match in that table exists with the address and port of the current packet -> return the process from t

[2016-10-30 19:54] mhenkel1 opened #11 "Not working"
Fehler  C3861   "WinDivertHelperCheckFilter": Bezeichner wurde nicht gefunden.  Divert.Net  F:\Divert.Net-master\Divert.Net-master\src\Diversion.cpp    142
Fehler  C3861   "WinDivertHelperEvalFilter": Bezeichner wurde nicht gefunden.   Divert.Net  F:\Divert.Net-master\Divert.Net-master\src\Diversion.cpp    178

I am not able to run the example at all, because of the missing Divert.Net DLL.
But I a

[2016-11-07 09:10] TechnikEmpire commented on #11
@mhenkel1 You need to download WinDivert and stage it correctly to compile this project. See the wiki:

https://github.com/TechnikEmpire/Divert.Net/wiki

Also, notice that you can skip compiling this project and give my new PInvoke version a shot. Just make sure obviously that you copy the WinDivert binaries to your program output directory.

https://github.com/TechnikEmpire/DivertPInvoke

[2016-11-07 09:10] #11 closed, assigned to nobody

[2017-01-25 04:57] MrRandom92 opened #12 "Dropping Packets Error Code 6?"
Hello Jesse, I am trying to use Divert.Net to create a simple packet latency simulator, could you explain why the packets are being randomly dropped?

        Thread receiving;
        Thread sending;
        Diversion diversion;

        public struct packet
        {
            public Address address;
            public byte[] buffer;
            public uint receiveLength;
            public ui

[2017-01-25 06:12] TechnikEmpire commented on #12
@TodM0 Where are you getting error code 6? If you look [here](https://msdn.microsoft.com/en-us/library/windows/desktop/ms681382(v=vs.85).aspx), and you're properly [fetching the error code](https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.marshal.getlastwin32error(v=vs.110).aspx), then error 6 means `ERROR_INVALID_HANDLE` which means that you're performing an operation again

[2017-01-25 06:22] MrRandom92 commented on #12
@TechnikEmpire Thanks for the quick reply. I am getting the error after diversion.send, but if I remove the timestamp checks, so that there is no delay in sending the packets everything works fine. I did try the PInvoke version prior to Divert.Net, and both produce the same random dropped packets when trying to delay them from sending instantly.

[2017-01-25 06:27] TechnikEmpire commented on #12
If I had to guess, I'd say that you're overflowing the queue in WinDivert
by waiting too long. There is one and you can configure it to be larger
(search the docs) and that might help, but what I would suggest is
switching to a threaded implementation using both the asynchronous send and
receive functions. This way at least you'll be parallelizing the work so
your stacking up of packets on the int

[2017-01-25 06:36] MrRandom92 commented on #12
@TechnikEmpire I have tried increasing the WinDivert queue length to the maximum with no luck. Should the WinDivert queue length really be an issue when WinDivert automatically drops packets after a set queue time anyway? If the packets are sent by my own C# queue I fail to understand why they wouldn't be being sent all of the time, even though the packets are sent the majority of the time with th

[2017-01-25 06:37] TechnikEmpire commented on #12
I'll do an actual test myself just give me a few. I was taking a stab in the dark but you have valid objections.

[2017-01-25 06:39] MrRandom92 commented on #12
@TechnikEmpire Thanks. Using ping google.com -t is how I am seeing the lost packets.

[2017-01-25 07:27] TechnikEmpire commented on #12
@TodM0 My best guess now is that you're not calling the CalculateChecksums functions. It's a method of the Diversion class in this library. Below is a threaded example using the PInvoke library that functions exactly as you intend with zero packet loss.

[code]

[2017-01-25 07:34] TechnikEmpire commented on #12
![zzz](https://cloud.githubusercontent.com/assets/11234763/22281798/d25cc33c-e2a6-11e6-8118-decb7b363f96.png)

[2017-01-25 07:34] #12 closed, assigned to nobody

[2017-01-25 07:38] TechnikEmpire commented on #6
@oasrog How'd this turn out?

[2017-01-25 07:45] MrRandom92 commented on #12
@TechnikEmpire The example code is great, and reduces the loss a lot, but I am still seeing lost packets unfortunately when left to run for longer.

![Dropped](https://i.gyazo.com/694cca2df943600409a1a1d873c1ec24.png)

Is this expected behaviour?

[2017-01-25 07:50] TechnikEmpire commented on #12
@TodM0 I'm running with 500 msec delays with zero loss right now. I don't think long running pings are a very reliable test for real network issues. If it's anything, I'd argue that it's not the diversion library. I'm on a flaky network myself (LTE connection) and I'm seeing zero loss.

![image](https://cloud.githubusercontent.com/assets/11234763/22282219/0a7ecd08-e2a9-11e6-9dfb-1bcdc1ade9fd.png)

[2017-01-25 07:53] TechnikEmpire commented on #12
@TodM0 If it's any reassurance, I'm using WinDivert in a commercial-grade content filter that does inline HTTP/S deep content inspection and classification, as well as blocking based on that analysis. It's very stable.

[2017-01-25 08:03] MrRandom92 commented on #12
@TechnikEmpire I am just using the regular WinDivert, the pings are also randomly climbing, I know ping tests aren't the best way, but this shouldn't be happening. Does this give you any further clues as to what it could be?

![image](https://cloud.githubusercontent.com/assets/3946559/22282464/77d7e882-e2d4-11e6-9769-6922c7fa4576.png)

If not I will assume it's a fault somewhere on my machine and

[2017-01-25 08:11] TechnikEmpire commented on #12
@TodM0 I'm not sure, this code is a direct pinvoke into WinDivert so it's not anything my code is doing. I'd look at handle use and priority on Clumsy and compare. Also if you're running clumsy maybe there's two instances of the divert driver running now. You can try 'sc stop WinDivert1.2" and same for WinDiver1.1 or whatever version clumsy has to ensure it's not a driver conflict. Lastly you coul

[2017-01-25 10:28] oasrog commented on #6
Jesse,

I've abandoned the project so far, my current job is getting 110℅ of my
time.

I hope someday I can get some spare time to continue with other personal
projects.

El 25 ene. 2017 4:38 AM, "Jesse Nicholson" <notifications@github.com>
escribió:

[2017-01-25 10:29] TechnikEmpire commented on #6
@oasrog Alright I'm going to close this out.

[2017-01-25 10:29] #6 closed, assigned to nobody

[2017-01-27 10:18] MrRandom92 commented on #12
@TechnikEmpire I am a little confused how using Thread.Sleep() doesn't cause the queue to become blocked up. Wouldn't newly arriving packets during the sleep time become stalled too, possibly mounting up the delay? For example: Packet 2 arrives -> Packet 1 Arrives -> 100ms -> Send Packet. Packet 2 may now be waiting in excess of 150ms before being sent, or does WinDivert take care of this somehow?

[2017-01-28 21:56] TechnikEmpire commented on #12
@TodM0 Regarding the buffer not overflowing, I'd say because such protocols are not going to just be blindly pumping out a nonstop stream of packets. They're sending, then waiting for a response.

With regards to the params, are you setting them correctly, or are you redefining header defs?

https://reqrypt.org/windivert-doc-v1.2.html#divert_set_param

Here's an example in code of me setting those

[2017-01-29 12:52] MrRandom92 commented on #12
@TechnikEmpire It seems that packets are having to wait too long using Thread.Sleep() when performing bandwidth intensive events causing the ping to spike and occasionally lose packets.

I have tried modifying your example code to copy the packets into a new queue with timestamps to compensate for newly arriving packets during the active delay.

My problem now is that packets are refusing to send

[2017-01-29 17:24] TechnikEmpire commented on #12
@TodM0 while I wish I could be of further assistance, this thread has turned into general programming and networking questions. Please direct such questions to stackoverflow.com. I have over a dozen respositories with plenty of unsolved tickets in each of them and while I try to be accommodating, I don't have the availability to address this any further. I'd like to keep my bug tickets reserved fo

[2017-02-01 17:37] MrRandom92 commented on #12
@TechnikEmpire No problem and thanks for all the help.
I have moved this issue over to stackoverflow if you ever get chance to take a further look at it [here.](http://stackoverflow.com/questions/41986016/c-sharp-why-are-these-packets-failing-to-send-from-the-queue)

[2017-02-05 14:16] VerifyBlind opened #13 "I can't run example"
Hi,
  I download as zip and open NetDump.sln on VS2012. I got a warning : "The referenced component 'Divert.Net' could not be found." and of course related "... does not exists in the current context."

Is Divert.Net dll? How can i add or how can fix this problem?

[2017-02-05 20:45] TechnikEmpire commented on #13
@ercumenteskar divert .net is quite obviously a dll that you compile to link against the Windivert library. Please don't open and close issues to get my attention. If it was an accident, ignore that last comment.

There are instructions right on the project page for building and such. However, I would recommend simply using the PInvoke version. There is a separate repository of mine for this singl

[2017-02-05 20:50] #13 closed, assigned to nobody

[2017-02-11 22:24] TechnikEmpire commented on #3
Can't do this in C++/CLR because it's stupid.

[2017-02-11 22:24] #3 closed, assigned to nobody

[2017-02-15 11:23] TheGreatFred opened #14 "DivertAsync receive problem"
Hi there,

Not sure if I'm doing this right but I tried the following:

[code]

Which seems to work for a while but then I get a SEHException (External component has thrown an exception) from here:

[code]

I'll try and trace out exactly which Divert.NET call throws the exception... just wondering why DivertHandle.Close() is getting called?!

Hopefully it's a case of "you're doing it wrong!" :)

R

[2017-02-15 19:23] TechnikEmpire commented on #14
@AndyBeamish

I'll have to look more closely but you shouldn't be calling `while(!got_packet)`, it should simply be `if(!got_packet)`. That'll probably get you into a deadlock, or at the very least get you continuously trying to receive a packet that is just plain lost (dropped). However, this may still also be a bug where this incorrect usage is causing an attempted double free of a handle.

The

[2017-02-15 19:27] #14 closed, assigned to nobody

[2017-02-15 19:28] TechnikEmpire commented on #14
@AndyBeamish There was indeed a bug, but my remarks regarding your use of the while loop when the packet isn't immediately available still stand. Bug is fixed. Thanks for the report.

[2017-02-15 19:29] TechnikEmpire commented on #14
Also @AndyBeamish keep in mind that there is a Pinvoke version [here](https://github.com/TechnikEmpire/DivertPInvoke) if that suits you better, although its lacking quite a few frills such as the ability to get the process name behind a packet flow, for example.

[2017-02-15 19:47] TechnikEmpire commented on #8
I don't believe so, no.

[2017-02-15 19:47] #8 closed, assigned to nobody

[2017-02-15 19:47] #2 closed, assigned to nobody

[2017-02-16 17:37] TheGreatFred commented on #14
Hmm, so are you saying after my asyncReceive either hands back a packet or errors (no data) I should then look back to a new ReceiveAsync? I supposed I should have seen that coming, comparing to the blocking Receive version.

Glad I could help find a bug though! I did have a quick look at PInvoke but apart from using the structures for packet templates the rest looked a bit too scary! The /unsafe

[2017-02-16 20:14] TechnikEmpire commented on #14
@AndyBeamish no, I'm saying that if the initial call to the async read method returns `false`, and [`Marshal.GetLastWin32Error()`](http://stackoverflow.com/questions/17918266/winapi-getlasterror-vs-marshal-getlastwin32error/17918729#17918729) is equal to `ERROR_IO_PENDING`, which is [defined as int 997](https://msdn.microsoft.com/en-us/library/windows/desktop/ms681388(v=vs.85).aspx), then you call

[2017-02-20 10:43] TheGreatFred commented on #14
Thank you so much for the reply! Starting to make a lot more sense. I'm using the blocking version of **Read()** at the moment and there's a bit of a "run it on a thread, kill it with **Thread.Abort()**" cheekiness when my program exits... and there's me going "oh noes, /unsafe scary!" ;D

One, unrelated observation: it took me quite a while to wrap my head around reconstructing packets. **ParsePa

[2017-06-09 09:53] TheCodingCaesar opened #15 "Cannot build in x86"
I am getting linker errors in while building in  x86.
x64 is working fine.
- Visual studio 2015 Professional.

1>------ Build started: Project: Divert.Net, Configuration: Release x86 Win32 ------
1>Diversion.obj : error LNK2028: unresolved token (0A000491) "extern "C" int __cdecl WinDivertSetParam(void *,enum WINDIVERT_PARAM,unsigned __int64)" (?WinDivertSetParam@@$$J0YAHPAXW4WINDIVERT_PARAM@@_K@Z

[2017-06-09 09:59] TechnikEmpire commented on #15
Looks like it's failing to find the x86 lib during compilation. I'll have to have a look when I can. In the meantime take a peek at the wiki and ensure you've staged the windivert library properly. It's manual process and this project needs some love in that department. Thanks for the report I'll get back to you when I can.

[2017-06-13 04:07] TheCodingCaesar commented on #15
Also one update :
I tried building in windows 10 .

[2017-07-17 16:42] #15 closed, assigned to nobody

[2017-07-17 16:42] TheCodingCaesar commented on #15
Able to build in a different PC.

[2017-07-18 23:49] TechnikEmpire commented on #10
@Areithus A more reliable way to cache the results is to keep an array of length `std::numeric_limits<uint16_t>::max()` and then look for the TCP handshake and only do a lookup when you see that handshake. So say you see SYN on port 8080, you'd do `my_map[8080] = get_pid_from_tcp_table_lookup();`. This is the most optimized system I can think of, hitting the TCP table only one time per connection.

[2017-08-05 15:19] maczbal opened #16 "Issue with trying NetDump sample"
Hello!

I already used WinDivert in C++ and Python and I wanted to try your Divert.Net, sadly I having issues using it. I am not really familiar with wrappers so it's possible I miss something really obvious, please help me if you can.

For example I wanted to try out your NetDump example but after opening the solution in VS2015 it can't find the already added by default Divert.Net reference (yell

[2017-08-05 19:52] TechnikEmpire commented on #16
Hey @maczbal, so I made this wrapper a long time ago, and I am interested in solving any issues with it. However, as you've experienced, it's a mess to get the project off the ground. I'll see if I can make a nuget package. You're going to have to follow the Wiki, build Divert.NET, then manually add the reference again if you want to get it up and running right now. Alternatively you can try my Pi

[2017-08-05 22:43] maczbal commented on #16
Thank you for your fast reply!

Can I ask you to link a sample code for your Pinvoke class?

[2017-08-08 02:23] TechnikEmpire commented on #16
@maczbal I don't have an example published. I'll see if I can get one together.

[2017-09-19 11:42] TechnikEmpire opened #17 "IPV6 address comparison for resolving process is wrong"
The code to compare addresses vs the TCP6 table is both wrong and overly complex.

[2017-09-19 11:48] #17 closed, assigned to TechnikEmpire

[2017-12-28 01:59] GF-Huang commented on #15
same issue, how to solve ? please.
environment: win10, vs2017.

[2018-01-03 14:45] GF-Huang opened #18 "TcpHeader.HeaderLength incorrect"
![image](https://user-images.githubusercontent.com/4510984/34524808-ced2b466-f0d7-11e7-9aaf-08cfc98374ef.png)

[2018-01-03 14:49] TechnikEmpire commented on #18
Hmmm yeah that doesn't seem right. I'll have to look at the source code.

If you don't care about enabling unsafe code, just use my divert pinvoke library (look at my repositories to find it). It's a single .cs file derived directly from the windivert header, with a couple of convenience properties that do automatic network to host and host to network conversion on things like it addresses and por

[2018-01-03 18:03] GF-Huang commented on #18
ok, thank you.
I have seen your codes in DivertPInvoke.cs, i think make a Endianness Checking before SwapOrder is more safer, although our codes most time run in little endianness platform.
The ```IPAddress.HostToNetworkOrder``` and ```IPAddress.NetworkToHostOrder``` is useful to do this.

[2018-01-03 20:49] TechnikEmpire commented on #18
I don't need to check endianness because windows desktop is always little endian so swap will always be required and always be accurate.

I'm talking about the pinvoke version obviously. There could be a bug with swapping in here with what you've reported.

[2018-01-04 05:35] GF-Huang commented on #18
:) understand, thank you.

[2018-01-04 06:11] GF-Huang commented on #18
I found another question that is the layout of struct ```WINDIVERT_TCPHDR```  different to "TCP segment structure"

WINDIVERT_TCPHDR:
![image](https://user-images.githubusercontent.com/4510984/34551871-86cd238c-f158-11e7-9ba1-ce279ba22409.png)

TCP segment structure defines in Wiki (https://en.wikipedia.org/wiki/Transmission_Control_Protocol#TCP_segment_structure):
![image](https://user-images.git

[2018-01-04 08:10] TechnikEmpire commented on #18
If you look at the windivert helper methods, there are are functions available to read those fields properly. I know it appears to be out of order but all it is, is cramming labels on to 16 bits of continuous data.

If there is an issue with that layout and functions needed to properly read and write those fields, please open a bug ticket on WinDivert's repo. I'll see it.

[2018-02-21 07:37] mrparkerlol opened #19 "Compiling for x86 causes unknown external symbol errors"
When selecting "Debug x86" drop the drop-down, it kicks out errors:

![devenv_2018-02-20_23-36-18](https://user-images.githubusercontent.com/2037716/36468103-e495bbf6-1696-11e8-8c23-3f05a8038d81.png)

I have followed the Wiki closely and funnily enough the 64-bit build succeeds, but the 32bit fails with the external symbols.

[2018-02-21 10:00] TechnikEmpire commented on #19
I'll look into this, but you should just look at https://github.com/TechnikEmpire/DivertPInvoke

This way you don't have to mess about with compiling and intermediary DLL.

You can see a more complex example of the pinvoke wrapper here:

https://github.com/TechnikEmpire/CitadelCore.Windows/tree/master/CitadelCore.Windows/CitadelCore.Windows/Diversion

[2018-02-21 10:10] mrparkerlol commented on #19
I originally came across this project as a wrapper for c++, unknowingly it was a DLL for C# projects.

I also opened an issue at the main Divert repo as well detailing these issues (specifically with the "webfilter.c" demo):
https://github.com/basil00/Divert/issues/122

I noticed it was probably more than just your library and might be a separate issue.

Thank you for responding.

[2018-02-21 10:22] #19 closed, assigned to nobody

[2018-02-23 10:28] Muruganalagesan opened #20 "Changing Destination IP address in the received packet"
Hi admin,
Following is the scenario I am trying to do.

- I have two machines one is an application machine (IP: 192.168.0.17)  and other DB machine (IP: 192.168.0.173) (1433 port) (Both are windows 2012).
- I have configured the application with correct db machine IP,it works(normal)
- Now i have configured invalid DB machine IP (IP: 192.168.0.177) with the application(application wont work).

**

[2018-02-24 01:54] TechnikEmpire commented on #20
Closing because this isn't a bug.

[2018-02-24 01:54] #20 closed, assigned to nobody

[2018-03-29 05:53] zhanghaocars opened #21 "compatible with WinDivert Version 1.4.0 release candidate"
At least the method "WinDivertHelperCalcChecksums" is not compatible with WinDivert Version 1.4.0 release candidate

[2018-03-29 06:09] TechnikEmpire commented on #21
@demon-iak I'm sure there are issues because as WinDivert author clearly says, he does not yet follow semantic versioning and there's certainly things not backward compatible in that new version.

Look at https://github.com/TechnikEmpire/DivertPInvoke. This project is 100X harder to maintain than editing a single CS file.

[2018-04-01 16:12] username-not-important opened #22 "Use this as a TCP Proxy/Redirector"
Can I use this package to create my TCP redirector (similar to a proxy and a load balancer) without worrying about SYN and ACK value calculations?

[2018-04-01 16:17] TechnikEmpire commented on #22
First of all use the pinvoke wrapper linked in the readme, it's much simpler. Secondly, you can redirect, inject and modify packets howsoever you please. Have a look at CitadelCore.Windows or HttpFilteringEngine (both my repos) where I use this library to transparently redirect packets through a filtering proxy.

[2018-05-31 09:52] Van-hoa opened #23 ".net core"
Hi !

I want to know : Can we use Divert dot net with .net core ?
If we can, there is something special to do ?

Thank's.

[2018-05-31 15:18] TechnikEmpire commented on #23
Just use my other repository which is simply a single .CS source file. Not however that it is only compatible with WinDivert 1.3. WinDivert does not use semantic versioning, so 1.4 is not API compatible.

https://github.com/TechnikEmpire/DivertPInvoke

I use WinDivert in .net standard library myself here:
https://github.com/TechnikEmpire/CitadelCore.Windows

[2018-05-31 15:19] #23 closed, assigned to nobody

[2018-06-10 01:15] #22 closed, assigned to nobody

[2018-06-10 01:16] #18 closed, assigned to nobody

[2018-06-10 01:16] TechnikEmpire commented on #4
Closed because nuget is not a target.

[2018-06-10 01:16] #4 closed, assigned to nobody

[2018-06-10 01:18] TechnikEmpire commented on #16
@maczbal You can find an example in one of my other projects, which is a filtering, local, transparent proxy server [here](https://github.com/TechnikEmpire/CitadelCore.Windows/blob/master/CitadelCore.Windows/Diversion/WindowsDiverter.cs).

[2018-06-10 01:19] TechnikEmpire commented on #16
Oops, still need to investigate this.